#item1{
     
    width: 600px;
    height: 475px;
}
.header{
    background-color: red;
}
#item2{

    width: 600px;
    height: 475px;
}
#item3{

    width: 600px;
    height: 475px;
}
.footer{
    background-color: pink;
    color: aliceblue;
    text-align: center;
    font-style: bold;
}

.footer a{
    color: black;
    text-decoration: none;
    display: inline;
    font-style: italic;
}